@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', 'Ubuntu', sans-serif;
    display: block;
    overflow: hidden;
    max-height: 90%;
}

.image {
    display: block;  
    width: 640px;
    height: 920px;
}

.image img {
    
}

.image h5 {
    text-align: center;
    height: ;
}