@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', 'Ubuntu', sans-serif;
    display: block;
    overflow: hidden;
    max-height: 100%;
}

.image {
    display: block;  
    position: absolute;
    top: 0%;
    left: 0%;
}

.image img {
    width: 640px;
    height: 960px;
}

.image h5 {
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: whitesmoke;
}

.odin {
    display: block;
    position: absolute;
    top: 5%;
    left: 7%;
}