@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', 'Ubuntu', sans-serif;
    display: block;
    overflow: hidden;
    max-height: 100%;
}


.image {
    display: block;  
    position: absolute;
    top: 0%;
    left: 0%;
}

.image img {
    width: 640px;
    height: 960px;
}

.image h5 {
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: whitesmoke;
}

.odin {
    display: block;
    position: absolute;
    top: 5%;
    left: 7%;   
}

.intro {
    display: inline-block;
    position: absolute;
    top: 14%;
    right: 5%;
    left: 40%;
    max-width: 80%;
    text-align: center;
}

.hero {
    display: block;
    position: absolute;
    top: 34%;
    right: 5%;
    left: 40%;
    max-width: 90%;
}

.hero h2 {
    text-align: center;
}

.hero form {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero form input {
    padding: 5px;
    margin: 5px;
    border: 1px solid greenyellow;
}

.hero form fieldset input:hover {
    border: 2px solid green;
    cursor: pointer;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    position: absolute;
    top: 80%;
    right: 5%;
    left: 40%;
    max-width: 90%;
}

.account button {
    border-radius: 16px;
    width: 240px;
    height: 80px;
    background-image: linear-gradient(green, rgba(172, 255, 47, 0.23));
    font-family: inherit;
    font-size: 21px;
    color: rgba(255, 255, 255, 0.9);
}

.account button:hover {
    cursor: pointer;
}

.account h4 {
    text-align: center;
}